.soundboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
}

.soundboardQuote {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: "Comic Sans MS";
}
